@import "tailwindcss";

body {
  background-color: #09090b;
  margin: 0;
  padding: 0;
}

/* Esconde scrollbar mas mantém funcionalidade de scroll */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
